.yes{
    display: flex;
    justify-content: end;
}
.yes:hover{
    cursor: pointer;
    color: green;
}

body{
    background-color:floralwhite;
}
h2{
    display: inline;
    color: brown;
    background-color: aliceblue;
}
.one{
    text-align: center;
}
.two{
    text-align: center;
    margin: 20px;
    padding: 10px;
    
}
.eleven{
    width: 400px;
    height: 20px;
    padding: 10px;
    text-align: center;
    font-size:xx-large;
    background-color: burlywood;
    border-style: solid;
    border-color: orange;
    border-width: 5px;
}
.five{
    margin-top: 30px;
    text-align: center;
}
.four:hover{
    color: blue;
    cursor: pointer;
}
.twelve{
    width: 500px;
    height: 30px;
    
}
.ten{
    text-align: center;
    border-color: blue;
}
.rad{
    margin: 20px;
}
.bb{
    font-size: xx-large;
    border-radius: 10px;
    border-width: 10px;
    border-color:grey;
    
}
h3:hover{
    cursor: pointer;
    color: orange;
}
.bio{
    color: blue;
}
.seven{
    font-size:larger;
}
.about{
    font-size: larger;
}
li{
    font-size: x-large;
}
.song{
    text-align: center;
    margin: 50px;
}
.fav{
    text-align: center;
}